<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pippip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD159A3A1E0FC3AC0045F71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD159A511E0FC3AC0045F71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD159A5C1E0FC3AC0045F71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
